.input-field label {
	color: lightgrey;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #0 277BD;
    box-shadow: 0 1px 0 0 #0277BD;
}

.input-field input[type=text]:active {
	color: black;
}

.breadcrumb:last-child {
	color:rgba(255, 255, 255, 0.7);
}

.colorWhite{
	color:white !important;
}

#Rekeningnummer {
	color: #0277BD;
} 

.input-field label .BetalenInput {
	color: orange!important;
}	

.color-blue {
	color: #0277BD;
}

.checkout-nav {
	background-color: #0277BD;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
	color: black;
}